@use '../variables.scss' as var;

.modale{
    position:absolute;
    z-index: 1;
    margin: auto;
    padding : 15px;
    border-radius: 30px;
    border : 1px solid var.$dark-violet;
    // box-shadow: 4px 4px 0 0 #00000025;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1450980392), inset 0px 0px 16px 7px rgb(37 0 97 / 15%);
    background-color: var.$violet;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    
    > p{
        text-align: center;
        color : white;

        &.alert{
            color: var.$red-alert;

            &.green{
                color: var.$dark-green
            }
        }
    }
}

#logout{
    gap : 10px;
    top : 65px;
    right : 15px;
}

nav#mobile{
    gap: 10px;
    bottom: 53px;
    left: 15px;

    li{
        margin-bottom : 5px;

        &:hover{
            transform: translateX(3px);
        }

        a:hover{
            color: var.$green;
        }
    }

    *{
        color: white;
        font-weight: 100;
    }
}

.modale.add{
    position:fixed !important;
    inset : 15px ;

    #title-div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 25px;

        h2{
            padding : 0;
            font-weight: 400;
            color: white;
        }

        svg{
            font-size: 26px;
            color: white;

            &:hover{
                color : var.$green
            }
        }
    }

    .inputs-div{
        display: flex;
        gap : 15px;
        flex-direction: column;
        margin-bottom : 25px;

        h3{
            color : white;
        }

        > div{
            display: flex;
            gap: 15px;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            input, select{
                flex:1;
            }

            svg{
                font-size: 24px;
                color: white;
            }
        }
    }

    .visible{
        display: flex;
        align-items: center;
        gap : 20px;
        width: fit-content;
        margin: auto;
    }

    button.plus{
        width: 24px;
    }
}

.modale.s{
    #title-div{
        padding-bottom : 5px;

        *{
            font-size: 16px;
        }
    }
    inset: 135px 45px 19px 45px;

    p.alert{
        margin-top : 5px
    }

}

.background-modale{
    overflow: hidden;
    position:fixed;
    top:0;
    width: 98vw;
    height: 100vh;
}

