@use '../variables.scss' as var;

.modale{
    position:absolute;
    z-index: 1;
    margin: auto;
    padding : 15px;
    border-radius: 30px;
    border : 1px solid var.$dark-violet;
    box-shadow: 4px 4px 0 0 #00000025;
    background-color: var.$violet;
    display: flex;
    flex-direction: column;
    
    > p{
        text-align: center;
        color : white;
    }
}

#logout{
    gap : 10px;
    top : 65px;
    right : 15px;
}

nav#mobile{
    gap: 10px;
    bottom: 53px;
    left: 15px;

    li{
        margin-bottom : 5px;

        &:hover{
            transform: translateX(3px);
        }

        a:hover{
            color: var.$dark-beige;
        }
    }

    *{
        color: white;
        font-weight: 100;
    }
}

.background-modale{
    overflow: hidden;
    position:fixed;
    top:0;
    width: 98vw;
    height: 100vh;
}