@use '../variables.scss' as var;
@keyframes wriggle { 
    from { transform: translateX(0px) }
    to { transform: translateX(2px) } 
}

.modale{
    position:absolute;
    z-index: 1;
    margin: auto;
    padding : 15px;
    border-radius: 30px;
    // border : 1px solid var.$dark-violet;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1450980392), inset 0px 0px 16px 7px rgb(37 0 97 / 15%);
    background-color: var.$violet;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    
    > p{
        text-align: center;
        color : white;

        &.alert{
            color: var.$red-alert;

            &.green{
                color: var.$dark-green
            }
        }
    }
}

#logout{
    gap : 10px;
    top : 65px;
    right : 15px;
}

nav#mobile{
    gap: 10px;
    bottom: 53px;
    left: 15px;

    li{
        margin-bottom : 5px;

        &:hover{
            transform: translateX(3px);
        }

        a:hover{
            color: var.$green;
        }
    }

    *{
        color: white;
        font-weight: 100;
    }
}

.modale.add{
    position:fixed !important;
    inset : 15px ;

    #title-div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 25px;

        h2{
            padding : 0;
            font-weight: 400;
            color: white;
        }

        svg{
            font-size: 26px;
            color: white;

            &:hover{
                color : var.$green
            }
        }
    }

    .inputs-div{
        display: flex;
        gap : 15px;
        flex-direction: column;
        margin-bottom : 25px;

        h3{
            color : white;
        }

        > div{
            display: flex;
            gap: 15px;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            input, select{
                flex:1;
            }

            svg{
                font-size: 20px;
                color: white;
            }
        }
    }

    .visible{
        display: flex;
        align-items: center;
        gap : 20px;
        width: fit-content;
        margin: auto;
    }

    .empty-space{
        width: 30px;
    }
}

.modale.s{
    #title-div{
        padding-bottom : 5px;

        *{
            font-size: 16px;
        }
    }
    inset: 135px 45px 19px 45px;

    p.alert{
        margin-top : 5px
    }

}

.modale.xl{
    .alert{
        margin-top:-13px;
        margin-left:20px;
    }

    #id-list{
        li {
            list-style: none;
            background-color: var.$beige;
            border: 1px solid rgba(33, 0, 57, 0.15); 
            border-top: none;

            button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                box-sizing: border-box;
                padding: 12px 15px; 
                font-weight: 400; 
                font-size: 16px;
                color: #210039;
                text-align: left ;

                span {
                    font-size: 11px;
                    font-weight: 600;
                    background-color: #4a736a;
                    color: white;
                    border-radius: 20px;
                    padding: 2px 10px;
                    line-height: 1;
                }
            }

            &:first-of-type {
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                border-top: 1px solid rgba(33, 0, 57, 0.15);
            }

            &:last-of-type {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }

            &:hover {
                background-color: #fdf8f2; 
            }

            &.alert-meal {
                background-color: #fce4e4; 
                border-color: rgba(186, 45, 73, 0.2);

                button {
                    color: #734a5b; // Ton sur ton avec l'alerte
                    animation: wriggle 150ms 4 alternate;

                    span {
                        background-color: #734a5b;
                    }
                }

                &:hover {
                    background-color: #f9dada;
                }
            }
        }
    }
}

.modale#no-ingredient{
    inset: 95px 15px 19px 15px;
    background-color: #7e7791;
    box-shadow:  inset 0px 0px 16px 7px rgba(0, 0, 0, 0.15);
    button{
        width: 80%;
        justify-content: center;
    }
}

.background-modale{
    overflow: hidden;
    position:fixed;
    top:0;
    width: 98vw;
    height: 100vh;
}

