form{
    display: flex;
    flex-direction: column;
    gap : 50px;
    padding : 30px 15px;

    .alert{
        margin-top:-15px;
        margin-left:20px;
    }

    > div{
        display: flex;
        flex-direction: column;
        gap : 20px;

        >div{
            display: flex;
            align-items: center;
            gap : 15px;
        }
    }
}