@use './variables.scss' as var;

footer{
    background-color: var.$violet;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 5px 0px 5px 15px;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    width: 100%;
    box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.1450980392);

    >button:first-of-type{
        align-items: center;
        margin : 15px 0;
        
        &:hover *{
            color: var.$green;
        }
        
        *{
            color : white;
            font-size: 20px;

        }

    }

    #plus-button{
        position: relative;
        top : -12px;
        right: 40px;
        background-color: white;
        border-radius: 50px;
        padding: 15px;
        display: flex;
        border: 3px solid var.$violet;
        font-size: 30px;
        color : var.$violet;

        &:hover{
            transform: scale(0.95);
            background-color: #e1d6ff;
        }
    }
}

