@use './variables.scss' as *;

@use 'header.scss';
@use 'footer.scss';
@use 'pages/login.scss';
@use 'pages/planning.scss';
@use 'pages/meal-list.scss';
@use 'components/modale.scss';

*, ::before, ::after {
    font-family: "Sour Gummy", sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    list-style: none;
}

header > div{
    max-width: 1440px;
    margin: auto;
}

main{
    padding: 45px 15px;
}

h2{
    text-align: center;
    font-size: 24px;
    padding-bottom: 30px;
}

.visually-hidden {
    position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

form{
    background-color: $violet;
    border-radius: 30px;
}

input[type='text'], input[type='password'], select{
    background-color: $beige;
    border: none;
    border-radius: 8px;
    padding: 6px 20px;
    font-size: 14px;
    box-shadow: 4px 4px 0 0 #00000025;
}

button{
    cursor: pointer;
}

.invisible-button{
    background-color: #00000000;
    border: none;
    display: flex;
}

a.visible, input[type='submit'], button.visible{
    border: none;
    border-radius: 8px;
    padding: 6px 20px;
    font-size: 14px;
    box-shadow: 4px 4px 0 0 #00000025;
    text-align: center;
    text-decoration: none;

    &:hover{
        transform: translateY(2px);
        box-shadow: 4px 2px 0 0 #00000025;

    }

    &.green{
        background-color: $green;
        color : $dark-green;
    
        &:hover{
            background-color: #c1dfd9;
        }
    }
}

button.small-button{
    background-color: #5b4e7e;
    padding: 5px;
    border-radius: 9px;

    &:hover{
        background-color: #695a92;
    }
}

.medium-button{
    width: fit-content;
    margin: auto;
}

.violet{
    background-color: $dark-violet;
    color : white;

    &:hover{
        background-color: #5c4f7e;
    }
}

.alert{
    font-size: 11px;
    
    &.red{
        color: $red-alert;
    }

    &.green{
        color: $dark-green;
    }
}

input.error-input, select.error-input{
    background-color: $red-alert-backgroud;
    box-shadow: 4px 4px 0 0 #77000025;

    &::placeholder{
        color:rgba(0, 0, 0, 0.575)
    }
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}