// Couleurs

$violet : #9281C0;
$dark-violet: #473D63;
$beige : #F3E7DA;
$green: #9DC4BC;
$dark-green : #004A3A;
$red: #DA919F;
$red-alert-backgroud: #ff90a5;
$red-alert: #932338;


// Polices

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');